*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}


.container{
    margin-left: 100px;
    margin-right: 100px;
}

.logo{
    margin-top: 30px;
    width: 100px;
}


.headerText{
    max-width: 350px;
    margin-top: 120px;
    
}

h1{
    font-size: 34px;
}

.square{
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #f67c92;
    margin-top: 15px;
    margin-bottom: 15px;
    
}


.common-btn{
    margin-top: 30px;
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    cursor: pointer;
    
    
}


p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.line1{
    height: 15px;
    width: 15px;
    margin-top: 15px;
    background: #f67c92;
    display: inline-block;
}

.line2{
    height: 1px;
    width: 80px;
    background: #f67c92;
    display: inline-block;
}

.line3{
    height: 1px;
    width: 60px;
    background: #f67c92;
    display: inline-block;
}


.line{
    line-height: 8px;
    margin-top: 50px;
}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background-color: #f67c92;
    z-index: 2;
    transition: .5s;
}

#menubtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}


/*----about----*/

#about,#offer{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.about-leftcol{
    flex-basis: 50%;
}

.about-leftcol img{
    width: 100%;
}

.about-rightcol {
    width: 50%;
    text-align: right;
}

.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

.about-text h2{
    margin : 40px 0px 10px;
    font-size: 28px;
    font-style: italic;
}

.about-text h3{
    
    font-size: 20px;
    color: #777;
    font-style: italic;
}

.about-text p{
    line-height: 18px;
}



/*----features----*/



#Features{
    padding-top: 50px;
    padding-bottom: 50px;
    
    
    
}

.Feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.feature-col{
    flex-basis: 25%;
    align-items: center;
}


.feature-col,h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.feature-col,img{
    width: 100px;
}

.feature-btn{
    text-align: center;
}



/*----courses----*/

#courses{
    padding: 100px 0;
}

.container-courserow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;

}

.course-rightcol{
    flex-basis: 50%;

}

.course-rightcol img{
    width: 100%;
}

.course-leftcol{
    flex-basis: 50%;

}

.coursetext{
    max-width: 300px;
    margin-left: 100px;
    display: inline-block;
}


/*----contact----*/

.container-contactrow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.contact-leftcol, .contact-rightcol{
    flex-basis: 50%;
}

.contact-rightcol img{
    width: 100%;
}



form{
    max-width: 350px;
    margin: 30px 0;
}

form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
}

.btn-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;
}

.container-contactrow , .line{
    margin-top: 0px;
}


/*----footer----*/

#footer{
    padding: 50px 0 20px;
}

hr{
    width: 100%;
    outline: none;
    border-top: 1px solid #f67c92;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}

.footer-leftcol{
    flex-basis: 50%;
    margin-top: 60px;
}

.footer-rightcol{
    flex-basis: 30%;
}

.footer-title{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
.footer-links h4{
    text-align: left;
    font-size: 20px;
    color: #fab3c4;
}

.footer-links small{
    font-size: 13px;
    color: #777;
}


.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.logo-footer{
    width: 100px;
    margin-top: 20px;
}

.logo-footer button{
    padding: 12px 38px;
    font-size: 10px;
}

.copyright , .logo-footer{
    flex-basis: 40%;
}

/*----social media----*/

.socialicons{
    width: 50px;
    position: fixed ;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.socialicons img{
    width: 20px;
    display: block;
    margin: 0 auto 20px;
    cursor: pointer;
}


/*----responsive----*/

@media only screen and (max-width: 770px){
    #header{
        background-image: none;
    }

    .container{
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .logo{
        margin-top: 27px;
        width: 70px;
    }
    
    
    .headerText{
        
        margin-top: 100px;
        
    }
    
    h1{
        font-size: 25px;
    }

    #menubtn{
        width: 40px;
        right: 50px;
        
    }

    .common-btn{
        padding: 10px 16px;
        
        
        
    }

    .socialicons img{
        width: 15px;
        
        margin: 15px auto ;
        
    }

    .about-leftcol, .about-rightcol{
        flex-basis: 100%;
    }

    .about-text{
        
        margin: 50px 50px 0;
        display: inline-block;
    }
    
    .about-text h2{
        
        font-size: 18px;
        
    }

    .feature-col{
        flex-basis: 100%;
        margin: 0 0 20px;
    }

    .course-rightcol , .course-leftcol{
        flex-basis: 100%;
    
    }

    .container-courserow{
        
        margin-left: 50px;
        margin-right: 50px;
    
    }
    
    .course-rightcol{
        flex-basis: 100%;
    
    }
    
    
    
    .course-leftcol{
        flex-basis: 100%;
    
    }
    
    .coursetext{
        
        margin-left: 40px;
        
    }

    #courses{
        padding-bottom: 50px ;
    }

    .course-rightcol img{
        margin-top: 70px;
    }

    .contact-leftcol, .contact-rightcol{
        flex-basis: 100%;
    }

    .container-contactrow{
        
        margin-left: 50px;
        margin-right: 50px;
    }

    .footer-leftcol , .footer-rightcol{
        flex-basis: 100%;
        
    }

    .footer-links{
        flex-basis: 50%;
        margin-bottom: 30px;
    }

    #about{
    padding: 50px;
    
    
}


    
    



   
}
